body {
  background-color: rgba(211, 211, 211, 0.39);
}

#root {
  color: black;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px 40px;
  
}

#title-section {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  box-shadow: none;
  padding: 0px 5px;
}

#box-border {
  border: black solid 2px;
  border-spacing: 10px;
  box-shadow: none;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 25px;
  justify-content: space-evenly;
}

#season-number {
  font-weight: bold;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #888888ad;
  padding: 20px;
}

#summary {
  color: rgba(128, 128, 128, 0.932);
  margin: 0px 30px;
}